@page
@model Diary_Client.Pages.Account.LogoutModel

@{
    ViewData["Title"] = "Logout";
}

<h2>Logout</h2>

<form method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
