body {
    font-family: 'Nanum Pen Script', cursive;
    background: #f7f7f7;
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #6c757d;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.container {
    flex: 1;
}

.card {
    margin: 20px 0;
    font-size: 1rem;
}

.card-header {
    background-color: #343a40;
    color: white;
}

.card-title {
    font-size: 1.5rem;
}

.btn-primary, .btn-secondary {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.year-folder {
    margin-bottom: 10px;
}

.year-label {
    font-weight: bold;
    cursor: pointer;
}

.year-content {
    display: none;
    margin-left: 20px;
}

.year-folder input[type="checkbox"]:checked ~ .year-content {
    display: block;
}

.month-folder {
    margin-bottom: 5px;
}

.month-label {
    cursor: pointer;
}

.month-content {
    display: none;
    margin-left: 20px;
}

.month-folder input[type="checkbox"]:checked ~ .month-content {
    display: block;
}
